In [1]:
import pandas as pd
data = pd.read_excel('HelloPython.xlsx')
data

   決済ID    名前  購入金額
0     1  山田太郎  3000
1     2  山田花子   500
2     3  鈴木一郎  1000
3     4  山田太郎  2000
4     5  山田花子   800
5     6  鈴木一郎   900
6     7  山田太郎  1800
7     8  山田花子   500
8     9  鈴木一郎  2000